.data__word {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    text-transform: capitalize;
}

.data__words {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.data__meanings {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 24px;
}

.data__definitions {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 34px;
    margin-left: 40px;
}

.data__definition {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 29px;
}

.data__example {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 40px;
}

.data__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 41px;
}

.minus {
    margin-left: 20px;
    margin-right: 20px;
}