.group {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
}

.groups {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}